{% extends 'base.html' %}
{% block title %}Add Property{% endblock %}
{% block content %}
<h3>Add Property</h3>
<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-8">
      <div class="mb-3">{{ form.title.label }}{{ form.title(class_='form-control') }}</div>
      <div class="mb-3">{{ form.description.label }}{{ form.description(class_='form-control', rows=6) }}</div>
      <div class="mb-3">{{ form.purpose.label }}{{ form.purpose(class_='form-select') }}</div>
      <div class="row">
        <div class="col-md-4">{{ form.property_type.label }}{{ form.property_type(class_='form-select') }}</div>
        <div class="col-md-4">{{ form.price.label }}{{ form.price(class_='form-control') }}</div>
        <div class="col-md-4">{{ form.deposit.label }}{{ form.deposit(class_='form-control') }}</div>
      </div>
      <div class="mb-3">{{ form.images.label }}{{ form.images(class_='form-control', multiple=true) }}</div>
    </div>
    <div class="col-md-4">
      <h5>Location & Owner</h5>
      <div class="mb-2">{{ form.address.label }}{{ form.address(class_='form-control') }}</div>
      <div class="mb-2">{{ form.locality.label }}{{ form.locality(class_='form-control') }}</div>
      <div class="mb-2">{{ form.city.label }}{{ form.city(class_='form-control') }}</div>
      <div class="mb-2">{{ form.state.label }}{{ form.state(class_='form-control') }}</div>
      <div class="mb-2">{{ form.google_map.label }}{{ form.google_map(class_='form-control') }}</div>
      <h6 class="mt-3">Owner Info</h6>
      <div class="mb-2">{{ form.owner_name.label }}{{ form.owner_name(class_='form-control') }}</div>
      <div class="mb-2">{{ form.owner_phone.label }}{{ form.owner_phone(class_='form-control') }}</div>
      <div class="mb-2">{{ form.owner_email.label }}{{ form.owner_email(class_='form-control') }}</div>
    </div>
  </div>
  <div class="mt-3">{{ form.submit(class_='btn btn-success') }}</div>
</form>
{% endblock %}
