{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h4>Login</h4>
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.email.label }}{{ form.email(class_='form-control') }}</div>
        <div class="mb-3">{{ form.password.label }}{{ form.password(class_='form-control') }}</div>
        <div class="mb-3">{{ form.submit(class_='btn btn-primary') }} <a href="{{ url_for('forgot_password') }}" class="ms-3">Forgot?</a></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
